:root {
	--light: #e8e8e8;
	--dark: #212121;
}

@font-face {
  font-family: 'Panchang-Variable';
  src: url('../font/Panchang-Variable.woff2') format('woff2'),
       url('../font/Panchang-Variable.woff') format('woff'),
       url('../font/Panchang-Variable.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}

.sidebar {
  font-family: 'Panchang-Variable';
  font-weight: 200;
  font-size: 12px;
  display: flex;
  width: 70px;
  height: 98vh;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--dark);
  box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: sticky;
  color: var(--light);
  text-align: center;
  transition: width 0.5s ease-out, opacity 0.5s ease-in;
  justify-content: center;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

p {
  margin-left: 20px;
  font-size: 12px;
}

.menu-link a {
  font-size: 13px;;
  color: var(--light);
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 20px;
  transition: 0.8s ease-out;
  fill: var(--light);
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 100%;
}

.menu-link a:hover {
  color: var(--dark);
  background-color: var(--light);
  fill: var(--dark);
  transition: 0.8s ease-out;
}

.menu-link a p button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.toggle {
  fill: var(--light);
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 2vh;
  margin-left: 12px;
  transition: fill 0.8s ease-out;
  text-decoration: none;
  cursor: pointer;
  /* padding: 15px 20px; */
}

@media screen and (max-width: 900px) {

.top-sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  place-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: var(--dark);
  box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.5);
  position: sticky;
  color: var(--light);
  transition: width 0.5s ease-out, opacity 0.5s ease-in;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
}

.menu-link {
  display: none;
}

.menu-link a p {
  display: none;
}

.menu-link a {
  padding: 20px;
}

.menu-link a svg {
  height: 30px;
  width: 30px;
}

.toggle {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  width: 35px;
  height: auto;

}

.toggle p {
  display: none;
}

#menu-btn {
  display: none;
}
button {
  display: none;
}

}